* {
  max-width: 960px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  margin: 2rem 0;
}

#votes {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 2rem auto 5rem;
  padding: 1rem;
  width: 8rem;
  background-color: green;
  color: white;
  border-radius: 8px;
}

#votes:hover {
  background-color: darkgreen;
  transition: 250ms;
}

#image-container {
  display: flex;
  margin: 2rem 0;
}

img {
  width: 250px;
  border: thin solid green;
}

#result-button {
  display: flex;
  /* display: none; */
  height: 24rem;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 83%, 0.5);
  position: relative;
  bottom: 24rem;
}

#result-button button {
  height: 4rem;
  padding: 1rem;
  width: 9rem;
  background-color: darkslategray;
  border-radius: 8px;
  color: white;
  font-size: 110%;
  font-weight: bold;
  border: none;
}

#result-button button:hover {
  background-color: rgb(141, 49, 49);
  transition: 250ms;
}
