* {
  max-width: 960px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  margin: 2rem 0;
}

#votes {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 8rem;
  background-color: green;
  color: white;
  border-radius: 8px;
}

#image-container {
  display: flex;
  margin: 2rem 0;
}

img {
  width: 250px;
  border: thin solid green;
}

#result-button {
  display: flex;
  /* display: none; */
  height: 18rem;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 83%, .5);
  position: relative;
  bottom: 18.75rem;
}

#result-button button {
  height: 2rem;
}
