* {
  max-width: 960px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  margin: 2rem 0;
}

img {
  width: 250px;
}

#image-container {
  display: flex;
  margin: 2rem 0;
}

#result-button {
  text-align: center;
}